body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:752.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:28px;
  width:65px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2899px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:28px;
  width:1px;
  height:2898px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:2px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:91px;
  width:638px;
  height:1px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:28px;
  width:97px;
  height:74px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:565px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:160px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:252px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:207px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:23px;
  width:366px;
  height:8px;
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:23px;
  width:8px;
  height:22px;
}
#u78_seg3 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:33px;
  width:18px;
  height:18px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:124px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:299px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:18px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:535px;
  width:201px;
  height:20px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:669px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:612px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:18px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:765px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:716px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:30px;
  width:366px;
  height:8px;
}
#u84_seg2 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:30px;
  width:8px;
  height:19px;
}
#u84_seg3 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:37px;
  width:18px;
  height:18px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:843px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:812px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:14px;
  width:366px;
  height:8px;
}
#u86_seg2 {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:14px;
  width:8px;
  height:17px;
}
#u86_seg3 {
  border-width:0px;
  position:absolute;
  left:-367px;
  top:19px;
  width:18px;
  height:18px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:943px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:890px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:366px;
  height:8px;
}
#u88_seg2 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:36px;
  width:8px;
  height:17px;
}
#u88_seg3 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:41px;
  width:18px;
  height:18px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:1062px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1003px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:40px;
  width:9px;
  height:8px;
}
#u90_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:40px;
  width:8px;
  height:19px;
}
#u90_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:47px;
  width:18px;
  height:18px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1435px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:973px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-4px;
  width:8px;
  height:455px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:443px;
  width:106px;
  height:8px;
}
#u92_seg3 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:443px;
  width:8px;
  height:19px;
}
#u92_seg4 {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:450px;
  width:18px;
  height:18px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:243px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1109px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:18px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1527px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:1482px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-363px;
  top:24px;
  width:367px;
  height:8px;
}
#u95_seg2 {
  border-width:0px;
  position:absolute;
  left:-363px;
  top:24px;
  width:8px;
  height:21px;
}
#u95_seg3 {
  border-width:0px;
  position:absolute;
  left:-368px;
  top:33px;
  width:18px;
  height:18px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-224px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1173px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 144, 152, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1283px;
  width:169px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:165px;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1233px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:17px;
  height:8px;
}
#u98_seg2 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:33px;
  width:8px;
  height:17px;
}
#u98_seg3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:18px;
  height:18px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:1330px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:109px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:93px;
  width:18px;
  height:18px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1203px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-4px;
  width:71px;
  height:8px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-4px;
  width:8px;
  height:222px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:210px;
  width:134px;
  height:8px;
}
#u100_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:210px;
  width:8px;
  height:22px;
}
#u100_seg4 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:220px;
  width:18px;
  height:18px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:133px;
  width:100px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:383px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:146px;
  height:8px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-4px;
  width:8px;
  height:1084px;
}
#u102_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1072px;
  width:102px;
  height:8px;
}
#u102_seg3 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1067px;
  width:18px;
  height:18px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:504px;
  width:100px;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:413px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:65px;
  width:366px;
  height:8px;
}
#u103_seg2 {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:65px;
  width:8px;
  height:87px;
}
#u103_seg3 {
  border-width:0px;
  position:absolute;
  left:-367px;
  top:140px;
  width:18px;
  height:18px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-236px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
